In [6]:
import pandas as pd
d=pd.read_csv("employees details - employees details.csv")
d.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Salary
0,677509,Drs.,Lois,H,Walker,F,lois.walker@hotmail.com,Donald Walker,Helen Walker,Lewis,168251
1,940761,Ms.,Brenda,S,Robinson,F,brenda.robinson@gmail.com,Raymond Robinson,Judy Robinson,Perry,51063
2,428945,Dr.,Joe,W,Robinson,M,joe.robinson@gmail.com,Scott Robinson,Stephanie Robinson,Taylor,50155
3,408351,Drs.,Diane,I,Evans,F,diane.evans@yahoo.com,Jason Evans,Michelle Evans,Allen,180294
4,193819,Mr.,Benjamin,R,Russell,M,benjamin.russell@charter.net,Gregory Russell,Elizabeth Russell,Nelson,117642

In [7]:
import pandas as pd
df=pd.DataFrame(d)
print("Columns:",df.columns)
print(df.shape)

Columns: Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')
(100, 11)

In [8]:
import pandas as pd
print("Name:",df['First Name'])

Name: 0         Lois
1       Brenda
2          Joe
3        Diane
4     Benjamin
        ...
95        Jose
96      Harold
97      Nicole
98     Theresa
99       Tammy
Name: First Name, Length: 100, dtype: object

In [9]:
print(df[3:17])

    Emp ID Name Prefix First Name Middle Initial  Last Name Gender  \
3   408351        Drs.      Diane              I      Evans      F
4   193819         Mr.   Benjamin              R    Russell      M
5   499687         Mr.    Patrick              F     Bailey      M
6   539712         Ms.      Nancy              T      Baker      F
7   380086        Mrs.      Carol              V     Murphy      F
8   477616        Hon.    Frances              B      Young      F
9   162402        Hon.      Diana              T   Peterson      F
10  231469         Mr.      Ralph              L     Flores      M
11  153989       Prof.       Jack              C  Alexander      M
12  386158        Mrs.    Melissa              Q       King      F
13  301576        Hon.      Wayne              G     Watson      M
14  441771        Mrs.     Cheryl              O      Scott      F
15  528509        Hon.      Paula              G       Diaz      F
16  912990         Mr.     Joshua              T    Stewart      M

                          E Mail      Father's Name       Mother's Name  \
3          diane.evans@yahoo.com        Jason Evans      Michelle Evans
4   benjamin.russell@charter.net    Gregory Russell   Elizabeth Russell
5         patrick.bailey@aol.com       Ralph Bailey        Laura Bailey
6             nancy.baker@bp.com        Scott Baker          Judy Baker
7         carol.murphy@gmail.com      Eugene Murphy    Katherine Murphy
8        frances.young@gmail.com         Fred Young       Lillian Young
9   diana.peterson@hotmail.co.uk  Jonathan Peterson  Christina Peterson
10        ralph.flores@yahoo.com       Terry Flores     Michelle Flores
11      jack.alexander@gmail.com   Samuel Alexander    Sharon Alexander
12      melissa.king@comcast.net        Philip King          Maria King
13        wayne.watson@gmail.com      Ronald Watson     Margaret Watson
14        cheryl.scott@gmail.com      Richard Scott          Lois Scott
15          paula.diaz@gmail.com          Alan Diaz        Kathryn Diaz
16       joshua.stewart@yahoo.ca       Todd Stewart      Martha Stewart

   Mother's Maiden Name  Salary
3                 Allen  180294
4                Nelson  117642
5             Henderson   72305
6                Thomas   98189
7              Peterson   60918
8                  Diaz  121587
9                  Ross   43010
10                Moore  118457
11               Walker   82965
12                White  166892
13                Hayes   92758
14               Watson   92220
15               Powell  152654
16                Jones  184896

In [10]:
print("Employee Email id:",df['E Mail'])

Employee Email id: 0          lois.walker@hotmail.com
1        brenda.robinson@gmail.com
2           joe.robinson@gmail.com
3            diane.evans@yahoo.com
4     benjamin.russell@charter.net
                  ...
95           jose.hill@hotmail.com
96         harold.nelson@gmail.com
97           nicole.ward@yahoo.com
98        theresa.murphy@gmail.com
99         tammy.young@comcast.net
Name: E Mail, Length: 100, dtype: object

In [11]:
d.tail()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,Salary
95,639892,Mr.,Jose,K,Hill,M,jose.hill@hotmail.com,Carlos Hill,Anna Hill,Hayes,129774
96,704709,Dr.,Harold,Z,Nelson,M,harold.nelson@gmail.com,Richard Nelson,Pamela Nelson,Smith,156194
97,461593,Ms.,Nicole,O,Ward,F,nicole.ward@yahoo.com,Ralph Ward,Julia Ward,Lee,95673
98,392491,Mrs.,Theresa,R,Murphy,F,theresa.murphy@gmail.com,George Murphy,Jacqueline Murphy,Peterson,51015
99,495141,Drs.,Tammy,B,Young,F,tammy.young@comcast.net,Andrew Young,Brenda Young,Robinson,93650

In [12]:
print("Particular person Details:",df.loc[7])

Particular person Details: Emp ID                                  380086
Name Prefix                               Mrs.
First Name                               Carol
Middle Initial                               V
Last Name                               Murphy
Gender                                       F
E Mail                  carol.murphy@gmail.com
Father's Name                    Eugene Murphy
Mother's Name                 Katherine Murphy
Mother's Maiden Name                  Peterson
Salary                                   60918
Name: 7, dtype: object

In [18]:
print(df.loc[df['Salary']>=50000])

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0   677509        Drs.       Lois              H    Walker      F
1   940761         Ms.     Brenda              S  Robinson      F
2   428945         Dr.        Joe              W  Robinson      M
3   408351        Drs.      Diane              I     Evans      F
4   193819         Mr.   Benjamin              R   Russell      M
..     ...         ...        ...            ...       ...    ...
95  639892         Mr.       Jose              K      Hill      M
96  704709         Dr.     Harold              Z    Nelson      M
97  461593         Ms.     Nicole              O      Ward      F
98  392491        Mrs.    Theresa              R    Murphy      F
99  495141        Drs.      Tammy              B     Young      F

                          E Mail     Father's Name       Mother's Name  \
0        lois.walker@hotmail.com     Donald Walker        Helen Walker
1      brenda.robinson@gmail.com  Raymond Robinson       Judy Robinson
2         joe.robinson@gmail.com    Scott Robinson  Stephanie Robinson
3          diane.evans@yahoo.com       Jason Evans      Michelle Evans
4   benjamin.russell@charter.net   Gregory Russell   Elizabeth Russell
..                           ...               ...                 ...
95         jose.hill@hotmail.com       Carlos Hill           Anna Hill
96       harold.nelson@gmail.com    Richard Nelson       Pamela Nelson
97         nicole.ward@yahoo.com        Ralph Ward          Julia Ward
98      theresa.murphy@gmail.com     George Murphy   Jacqueline Murphy
99       tammy.young@comcast.net      Andrew Young        Brenda Young

   Mother's Maiden Name  Salary
0                 Lewis  168251
1                 Perry   51063
2                Taylor   50155
3                 Allen  180294
4                Nelson  117642
..                  ...     ...
95                Hayes  129774
96                Smith  156194
97                  Lee   95673
98             Peterson   51015
99             Robinson   93650

[94 rows x 11 columns]

In [19]:
f=df['Salary']/50
print(f)

0     3365.02
1     1021.26
2     1003.10
3     3605.88
4     2352.84
       ...
95    2595.48
96    3123.88
97    1913.46
98    1020.30
99    1873.00
Name: Salary, Length: 100, dtype: float64