In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Abi','Babu','charles','Darwin','Abi','charles','Darwin'],
    'B':['one','two','three','one','two','three','one'],
    'c':np.random.randint(7,size=7),'D':np.random.randint(7,size=7)})
print("Original dataframe\n" ,df)

Original dataframe
          A      B  c  D
0      Abi    one  2  1
1     Babu    two  1  4
2  charles  three  5  0
3   Darwin    one  3  4
4      Abi    two  4  4
5  charles  three  0  4
6   Darwin    one  2  2

In [6]:
import pandas as pd
df1=df.groupby(['A','B'],as_index=False)['c'].sum()
print("Original dataframe\n",df)
print("Grouped dataframe with one column sum\n",df)

Original dataframe
          A      B  c  D
0      Abi    one  2  1
1     Babu    two  1  4
2  charles  three  5  0
3   Darwin    one  3  4
4      Abi    two  4  4
5  charles  three  0  4
6   Darwin    one  2  2
Grouped dataframe with one column sum
          A      B  c  D
0      Abi    one  2  1
1     Babu    two  1  4
2  charles  three  5  0
3   Darwin    one  3  4
4      Abi    two  4  4
5  charles  three  0  4
6   Darwin    one  2  2

In [7]:
import pandas as pd
df2=df.groupby(['A'],as_index=False)['c'].sum()
print("Original dataframe\n",df)
print("Grouped dataframe with one column sum\n",df2)

Original dataframe
          A      B  c  D
0      Abi    one  2  1
1     Babu    two  1  4
2  charles  three  5  0
3   Darwin    one  3  4
4      Abi    two  4  4
5  charles  three  0  4
6   Darwin    one  2  2
Grouped dataframe with one column sum
          A  c
0      Abi  6
1     Babu  1
2   Darwin  5
3  charles  5

In [8]:
import pandas as pd
df3=df.groupby(['A'],as_index=False)[['c','D']].sum()
print("Grouped dataframe with multiple column sum\n",df3)

Grouped dataframe with multiple column sum
          A  c  D
0      Abi  6  5
1     Babu  1  4
2   Darwin  5  6
3  charles  5  4

In [9]:
import pandas as pd
df4=df.groupby(['A','B'],as_index=False)[['c','D']].sum()
print("Grouped dataframe with multiple column sum\n",df4)

Grouped dataframe with multiple column sum
          A      B  c  D
0      Abi    one  2  1
1      Abi    two  4  4
2     Babu    two  1  4
3   Darwin    one  5  6
4  charles  three  5  4

In [11]:
import pandas as pd
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],
'Sales':[100,200,150,150,130,200],
'Profit':[10,15,20,25,30,15]})
df1 = df.groupby("Category").agg({"Sales": ['sum', 'min'],"Profit": ['sum', 'max']})
print(df1)

         Sales      Profit
           sum  min    sum max
Category
A          250  100     35  25
B          330  130     45  30
C          350  150     35  20