In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original dataframe with NaN\n",df)
print("\n")
print("Dropped Dataframe\n",df.dropna())
print("\n")

Original dataframe with NaN
         one       two     three
a  0.355029 -0.347979 -0.196719
b -0.090379 -0.009390  1.650618
c       NaN       NaN       NaN
d  1.889387 -1.110500 -0.314654
e       NaN       NaN       NaN
f -1.576428  0.888947  0.718819


Dropped Dataframe
         one       two     three
a  0.355029 -0.347979 -0.196719
b -0.090379 -0.009390  1.650618
d  1.889387 -1.110500 -0.314654
f -1.576428  0.888947  0.718819

In [19]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original datframe with NaN\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))
print("\n")

Original datframe with NaN
         one       two     three
a -1.281934  1.038418 -1.719435
b -0.093235  0.049836 -1.649014
c       NaN       NaN       NaN
d -0.911583 -0.712988 -0.932835
e       NaN       NaN       NaN
f -0.435381  2.850481  1.145406


NaN replaced with '0':

        one       two     three
a -1.281934  1.038418 -1.719435
b -0.093235  0.049836 -1.649014
c  0.000000  0.000000  0.000000
d -0.911583 -0.712988 -0.932835
e  0.000000  0.000000  0.000000
f -0.435381  2.850481  1.145406

In [21]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original datframe with NaN\n",df)
print("\n")
print("Nan-with true fill:\n")
print(df['one'].isnull())

Original datframe with NaN
         one       two     three
a -0.077842  0.584018 -1.125269
b  0.979660 -2.615049  2.500218
c       NaN       NaN       NaN
d  0.108191  0.647649  0.187886
e       NaN       NaN       NaN
f -2.201108 -2.694627  0.100143


Nan-with true fill:

a    False
b    False
c     True
d    False
e     True
f    False
Name: one, dtype: bool

In [22]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original datframe with NaN\n",df)
print("\nNaN filled with background values:\n")
print(df.fillna(method='bfill'))

Original datframe with NaN
         one       two     three
a  0.344517 -0.964414 -2.447446
b -1.314654  0.821877  0.925547
c       NaN       NaN       NaN
d -0.025185 -0.791337 -0.791703
e       NaN       NaN       NaN
f  0.422135  0.215640 -1.437041

NaN filled with background values:

        one       two     three
a  0.344517 -0.964414 -2.447446
b -1.314654  0.821877  0.925547
c -0.025185 -0.791337 -0.791703
d -0.025185 -0.791337 -0.791703
e  0.422135  0.215640 -1.437041
f  0.422135  0.215640 -1.437041

In [23]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original datframe with NaN\n",df)
print("\nNaN filled with background values:\n")
print(df.fillna(method='ffill'))

Original datframe with NaN
         one       two     three
a  1.681834 -0.069600 -0.728766
b  1.286145  0.441613 -1.871699
c       NaN       NaN       NaN
d -0.083922 -0.714414  0.622704
e       NaN       NaN       NaN
f -0.047740  1.904974 -0.574404

NaN filled with background values:

        one       two     three
a  1.681834 -0.069600 -0.728766
b  1.286145  0.441613 -1.871699
c  1.286145  0.441613 -1.871699
d -0.083922 -0.714414  0.622704
e -0.083922 -0.714414  0.622704
f -0.047740  1.904974 -0.574404

In [26]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'One':[10,20,30,40,50],'two':[60,70,80,0,101]})
print("Original dataframe:\n",df)
print("\n dataframe with replaced values\n:")
print(df.replace({101:100,0:90}))

Original dataframe:
    One  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50  101

 dataframe with replaced values
:
   One  two
0   10   60
1   20   70
2   30   80
3   40   90
4   50  100