In [8]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901036 - Sample Sheet - Sheet1.csv")
print(d)

    S.NO FIRST NAME  GENDER LOGIN TIME    SALARY  BONUS(%)      TEAM(DEPT)
0      1       Arun    Male     8:00 AM  35000.0      20.0        Accounts
1      2      Saran    Male     9:00 AM  50000.0      10.0         Finance
2      3      Nitin    Male     8:00 AM  30000.0      15.0        Accounts
3      4   Nandhini  Female     8:00 AM  45000.0      13.0  Administration
4      5     Harsha    Male     9:00 AM  50000.0      20.0         Finance
..   ...        ...     ...         ...      ...       ...             ...
64    66        NaN     NaN         NaN      NaN       NaN             NaN
65    67        NaN     NaN         NaN      NaN       NaN             NaN
66    68        NaN     NaN         NaN      NaN       NaN             NaN
67    69        NaN     NaN         NaN      NaN       NaN             NaN
68    70        NaN     NaN         NaN      NaN       NaN             NaN

[69 rows x 7 columns]

In [39]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['S.NO', 'FIRST NAME', 'GENDER', 'LOGIN TIME ', 'SALARY', 'BONUS(%)',
       'TEAM(DEPT)'],
      dtype='object')
(69, 7)

In [25]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901036 - Sample Sheet - Sheet1.csv")
print(df[5:10])

   S.NO FIRST NAME  GENDER LOGIN TIME    SALARY  BONUS(%)      TEAM(DEPT)
5     6    Shruthi  Female     9:30 AM  61000.0      21.0              HR
6     7   Narmadha  Female     9:00 AM  40000.0      10.0  Administration
7     8    Nandhan    Male     8:00 AM  30000.0      15.0        Accounts
8     9     Keshav    Male     8:00 AM  30000.0      15.0        Accounts
9    10     Madhav    Male     8:00 AM  30000.0      15.0        Accounts

In [22]:
print("Particular Person details",d.loc[2])

Particular Person details S.NO                  3
FIRST NAME        Nitin
GENDER             Male
LOGIN TIME      8:00 AM
SALARY          30000.0
BONUS(%)           15.0
TEAM(DEPT)     Accounts
Name: 2, dtype: object

In [17]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901036 - Sample Sheet - Sheet1.csv")
print(d.loc[d['SALARY']==50000])

   S.NO FIRST NAME GENDER LOGIN TIME    SALARY  BONUS(%) TEAM(DEPT)
1     2      Saran   Male     9:00 AM  50000.0      10.0    Finance
4     5     Harsha   Male     9:00 AM  50000.0      20.0    Finance

In [18]:
print("Team",d['TEAM(DEPT)'])

Team 0           Accounts
1            Finance
2           Accounts
3     Administration
4            Finance
           ...
64               NaN
65               NaN
66               NaN
67               NaN
68               NaN
Name: TEAM(DEPT), Length: 69, dtype: object

In [19]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901036 - Sample Sheet - Sheet1.csv")
df=d['SALARY']/1000
print(df)

0     35.0
1     50.0
2     30.0
3     45.0
4     50.0
      ...
64     NaN
65     NaN
66     NaN
67     NaN
68     NaN
Name: SALARY, Length: 69, dtype: float64