In [4]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S ','R '])  # creates column 3*4times, 9*4times
print("\nOriginal Dataframe:\n",info)
print("\nSquare Root:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum,axis=0))  # axis=0 refers to columns 
print("\nSum of each row:\n",info.apply(np.sum,axis=1))     # axis=1 refers to rows

Original Dataframe:
    S   R
0   3   9
1   3   9
2   3   9
3   3   9

Square Root:
          S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sum of each column:
 S     12
R     36
dtype: int64

Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [7]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [9]:
import numpy as np
import pandas as pd
d2=pd.DataFrame([['Sai',88],['Poo',70]],columns=['EmpName','ID'])
print(d2)
d2['Age']=[20,18]
print("Adding new column:\n",d2)
d2['Sex']=['Male','Male']
print("Adding new column:\n",d2)

  EmpName  ID
0     Sai  88
1     Poo  70
Adding new column:
   EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18
Adding new column:
   EmpName  ID  Age   Sex
0     Sai  88   20  Male
1     Poo  70   18  Male

In [28]:
import numpy as np
import pandas as pd
d2=pd.DataFrame([['Sai',88],['Poo',70]],columns=['EmpName','ID'])
print(d2)
info=d2.assign(Age=[20,18])
print("Adding new column:\n",info)
info['Sex']=['Male','Male']
print("Adding new column:\n",info)

  EmpName  ID
0     Sai  88
1     Poo  70
Adding new column:
   EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18
Adding new column:
   EmpName  ID  Age   Sex
0     Sai  88   20  Male
1     Poo  70   18  Male

In [24]:
#random function
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -1.201127 -0.803756
2 -0.098908 -0.654331
0 -0.993853 -0.173473
4  0.912726  0.029283
1 -1.025907 -0.480565

In [25]:
#sort by index
info2=info.sort_index()
print(info2)

       col3      col4
0 -0.993853 -0.173473
1 -1.025907 -0.480565
2 -0.098908 -0.654331
3 -1.201127 -0.803756
4  0.912726  0.029283

In [26]:
#sort by values
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3 -1.201127 -0.803756
1 -1.025907 -0.480565
0 -0.993853 -0.173473
2 -0.098908 -0.654331
4  0.912726  0.029283

In [5]:
import pandas as pd
l=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'sub':['sub1','sub2','sub3','sub4']})
r=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Saran','Sam','Ruba'],'sub':['sub2','sub4','sub3','sub5']}) 
print(r)
print(l)
print(pd.merge(l,r,on='id'))

   id    Name   sub
0   1  Sanjay  sub2
1   2   Saran  sub4
2   3     Sam  sub3
3   4    Ruba  sub5
   id  Name   sub
0   1   Sai  sub1
1   2   Poo  sub2
2   3  Saba  sub3
3   4  Yuvi  sub4
   id Name_x sub_x  Name_y sub_y
0   1    Sai  sub1  Sanjay  sub2
1   2    Poo  sub2   Saran  sub4
2   3   Saba  sub3     Sam  sub3
3   4   Yuvi  sub4    Ruba  sub5