In [1]:
#creating empty dataframe
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
#conversion of series to dataframe
emp=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to data frame\n")
print(result)
#extracting one column
print("\nextracting one column\n")
print(result['Emp'])

Series to data frame

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

extracting one column

0       Uma
1      Siva
2    Sindhu
3      Ravi
Name: Emp, dtype: object

In [9]:
#adding new column
result['Age']=pd.Series([20,25,30,50])
print(result)

      Emp  ID  Age
0     Uma  10   20
1    Siva  20   25
2  Sindhu  30   30
3    Ravi  40   50

In [8]:
#delete an existing column
del result['Age']
print(result)

      Emp  ID
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [10]:
#extracting rows
print("\nExtracting the second row:\n")
print(result.loc[1])

Extracting the second row:

Emp    Siva
ID       20
Age      25
Name: 1, dtype: object

In [11]:
#slicing of rows
print("Slice rows:\n",result[1:3])

Slice rows:
       Emp  ID  Age
1    Siva  20   25
2  Sindhu  30   30

In [15]:
#concatenation
d2=pd.DataFrame([['Anu',20],['Jinu',19]],columns=['Emp','ID'])
print("\nAdding new row values:\n",pd.concat([result,d2]))

Adding new row values:
       Emp  ID   Age
0     Uma  10  20.0
1    Siva  20  25.0
2  Sindhu  30  30.0
3    Ravi  40  50.0
0     Anu  20   NaN
1    Jinu  19   NaN

In [8]:
#deleting existing row
import pandas as pd
emp=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\Deleting an existing row:\n")
print(result.drop(2))

\Deleting an existing row:

    Emp  ID
0   Uma  10
1  Siva  20
3  Ravi  40

In [9]:
print("\nExtracting second row\n")
print(result.loc[1])

Extracting second row

Emp    Siva
ID       20
Name: 1, dtype: object