In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]
#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -0.773538
2011-01-05   -0.180547
2011-01-07    0.413942
2011-01-08    1.140172
2011-01-10   -1.680153
2011-01-12    2.068526
dtype: float64

In [2]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.466883
2000-01-02   -0.066270
2000-01-03    0.284305
2000-01-04   -0.771874
2000-01-05    0.195699
                ...
2002-09-22   -0.576772
2002-09-23   -1.074438
2002-09-24   -1.087171
2002-09-25   -0.120393
2002-09-26    1.334537
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.293757
2001-01-02   -0.470177
2001-01-03    2.574031
2001-01-04    0.033561
2001-01-05    1.201443
                ...
2001-12-27   -0.366943
2001-12-28    1.096144
2001-12-29   -0.035130
2001-12-30    0.154889
2001-12-31    3.219150
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.112312
2001-05-02   -2.137759
2001-05-03    1.131846
2001-05-04    0.119646
2001-05-05    1.180157
2001-05-06   -0.989104
2001-05-07   -0.261496
2001-05-08    2.341501
2001-05-09   -1.317539
2001-05-10    1.329323
2001-05-11    0.709230
2001-05-12    0.259448
2001-05-13   -0.144135
2001-05-14    1.065045
2001-05-15   -1.085674
2001-05-16   -0.699899
2001-05-17    1.271812
2001-05-18   -0.119207
2001-05-19    0.142344
2001-05-20    0.615619
2001-05-21   -0.956973
2001-05-22    0.233017
2001-05-23   -0.350569
2001-05-24    0.689087
2001-05-25    0.468927
2001-05-26    0.743305
2001-05-27   -0.588202
2001-05-28    0.343701
2001-05-29    0.208545
2001-05-30   -0.393459
2001-05-31    0.103969
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())
print("\nDate range-first 15 dates in 02 month 2001 year:",longer_ts[
"2000-02"].head(15))

Date range-first few dates in 2000 year:
 2000-01-01   -0.466883
2000-01-02   -0.066270
2000-01-03    0.284305
2000-01-04   -0.771874
2000-01-05    0.195699
Freq: D, dtype: float64

Date range-first 15 dates in 02 month 2001 year: 2000-02-01    0.895848
2000-02-02    0.605407
2000-02-03    1.349226
2000-02-04    1.113704
2000-02-05    0.314281
2000-02-06    1.447571
2000-02-07    0.627328
2000-02-08   -1.093502
2000-02-09   -0.747873
2000-02-10    0.527125
2000-02-11   -0.493515
2000-02-12   -1.473632
2000-02-13   -1.432366
2000-02-14   -0.208743
2000-02-15    0.944449
Freq: D, dtype: float64

In [8]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.009382
2000-09-27   -1.108862
2000-09-28    0.435444
2000-09-29    0.907800
2000-09-30   -0.208783
                ...
2002-09-22   -0.576772
2002-09-23   -1.074438
2002-09-24   -1.087171
2002-09-25   -0.120393
2002-09-26    1.334537
Freq: D, Length: 731, dtype: float64

In [9]:
print("\nDate range from 26-9-2001 to 25-9-2002:",longer_ts[datetime(2001,9,26):])

Date range from 26-9-2001 to 25-9-2002: 2001-09-26   -0.863964
2001-09-27   -0.381813
2001-09-28   -0.700459
2001-09-29    0.806065
2001-09-30   -0.870848
                ...
2002-09-22   -0.576772
2002-09-23   -1.074438
2002-09-24   -1.087171
2002-09-25   -0.120393
2002-09-26    1.334537
Freq: D, Length: 366, dtype: float64